<!doctype html>
<html class="no-js" lang="zxx">
   <%- include('../../Layouts/Frontend/Header.ejs')%>
   <body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">
        <!-- start header-section -->
        <%- include('../../Layouts/Frontend/Navbar.ejs')%>

        <!-- start page-title -->
        <section
            class="bg-[url(../images/page-title.jpg)] bg-center bg-cover bg-no-repeat w-full h-[480px] text-center relative z-[1] flex justify-center flex-col md:h-[400px] before:w-full before:h-full before:absolute before:left-0 before:top-0 before:bg-[#14212b] before:opacity-[0.5] before:-[-1]">
            <div class="overflow-hidden relative w-full h-full">
                <div class="wraper">
                    <div class="flex items-center justify-center h-[480px] md:h-[400px]">
                        <div class="col-span-12">
                            <h2
                                class="text-[60px] text-white mb-[40px] sm:mb-[25px] font-bold capitalize md:text-[50px] mt-[145px] md:mt-[140px] col:mt-[180px] sm:text-[40px]">
                                Contact Us</h2>
                            <ol class="flex justify-center">
                                <li class="text-[16px] text-white mr-[5px] sm:text-[14px]">
                                    <a href="index.html"
                                        class="text-white transition-all duration-300 hover:text-[#e33200]">Home</a>
                                </li>
                                <li class="relative text-[16px] text-white sm:text-[14px] pl-[20px] ml-[6px]
                                    before:mr-[5px] before:w-[8px] before:h-[4px] before:bg-white before:absolute
                                    before:left-0 before:top-1/2 before:-translate-y-1/2 before:rounded-[2px]">
                                    Contact</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="wow fadeInDown absolute right-[-70px] top-[-70px] w-[300px] h-[300px] bg-[#ff4a17] rounded-[50%] -z[-1]  col:hidden "
                    data-wow-duration="0.9s" data-wow-delay=".3s"></div>
                <div class="wow fadeInDown absolute left-0 top-0  sm:left-[-100px] sm:top-[-100px] col:hidden"
                    data-wow-duration="0.9s" data-wow-delay=".3s">
                    <img src="assets/images/page-title-shape-1.png" alt="">
                </div>
                <div class="wow fadeInUp absolute right-0 bottom-0  sm:right-[-100px] sm:bottom-[-30px] col:hidden"
                    data-wow-duration="0.9s" data-wow-delay=".3s">
                    <img src="assets/images/page-title-shape-2.png" alt="">
                </div>
            </div>
        </section>

        <!-- start contact -->
        <section class="relative pt-[120px] pb-0  z-1">
            <div class="wraper">
                <div class="grid grid-cols-12">
                    <div class="col-span-1"></div>
                    <div class="col-span-10 md:col-span-12">
                        <div class="pb-[100px] sm:pb-[60px]">
                            <div class="grid grid-cols-12 gap-3">
                                <div class="col-span-4 md:col-span-6 sm:col-span-12 md:mb-7">
                                    <div
                                        class="text-center p-[40px] bg-white shadow-[0px_5px_15px_0px_rgba(62,65,159,0.1)]">
                                        <div class="w-[85px] h-[85px] bg-[#f5f5f5] leading-[85px] text-center mx-auto
                                            rounded-[50%]  flex justify-center items-center">
                                            <div class="icon w-[50px] h-[50px] leading-[50px]">
                                                <i class="fi flaticon-place text-[35px]"></i>
                                            </div>
                                        </div>
                                        <h2 class="text-[30px] text-[#232f4b] font-medium my-[20px]">Address</h2>
                                        <p class="text-[#4f555a] text-[16px] leading-[22px]">7 Green Lake Street
                                            Crawfordsville, IN 47933</p>
                                    </div>
                                </div>
                                <div class="col-span-4 md:col-span-6 sm:col-span-12 md:mb-7">
                                    <div
                                        class="text-center p-[40px] bg-white shadow-[0px_5px_15px_0px_rgba(62,65,159,0.1)]">
                                        <div class="w-[85px] h-[85px] bg-[#f5f5f5]
                                             leading-[85px] text-center mx-auto rounded-[50%] flex justify-center
                                             items-center">
                                            <div class="icon w-[50px] h-[50px] leading-[50px]">
                                                <i class="fi flaticon-email text-[35px]"></i>
                                            </div>
                                        </div>
                                        <h2 class="text-[30px] text-[#232f4b] font-medium my-[20px]">Email Us</h2>
                                        <p class="text-[#4f555a] text-[16px] leading-[22px]">Consoel@gmail.com</p>
                                        <p class="text-[#4f555a] text-[16px] leading-[22px]">helloyou@gmail.com</p>
                                    </div>
                                </div>
                                <div class="col-span-4 md:col-span-6 sm:col-span-12 md:mb-7">
                                    <div
                                        class="text-center p-[40px] bg-white shadow-[0px_5px_15px_0px_rgba(62,65,159,0.1)]">
                                        <div class="w-[85px] h-[85px] bg-[#f5f5f5] leading-[85px] text-center mx-auto
                                            rounded-[50%] flex justify-center items-center">
                                            <div class="icon w-[50px] h-[50px] leading-[50px]">
                                                <i class="fi flaticon-phone-call text-[35px]"></i>
                                            </div>
                                        </div>
                                        <h2 class="text-[30px] text-[#232f4b] font-medium my-[20px]">Call Now</h2>
                                        <p class="text-[#4f555a] text-[16px] leading-[22px]">+1 800 123 456 789</p>
                                        <p class="text-[#4f555a] text-[16px] leading-[22px]">+1 800 123 654 987</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="max-w-[440px] mx-auto text-center mb-[50px]">
                            <h2 class="text-[35px] col:text-[25px] text-[#0a272c] font-heading-font font-bold
                                mb-[20px]">
                                Have
                                Any Question?</h2>
                            <p class="text-[#687693] text-[16px] leading-[22px]">It is a long established fact that a
                                reader will be distracted
                                content of a page when looking.</p>
                        </div>
                        <div class="p-[50px] bg-white mb-[-125px] relative z-10
                            shadow-[0px_1px_15px_0px_rgba(62,65,159,0.1)] sm:p-7 sm:pt-[50px]">
                            <form method="post" class="contact-validation-active mx-[-15px] overflow-hidden"
                                id="contact-form-main">
                                <div
                                    class="w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                                    <input type="text" class="form-control w-full bg-transparent border-[1px] border-[#ebebeb] h-[50px]
                                        text-[#212529] transition-all pl-[25px] focus:outline-0 focus:shadow-none
                                         focus:border-[#ff4a17] focus:bg-transparent " name="name" id="name"
                                        placeholder="Your Name*">
                                </div>
                                <div
                                    class="w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                                    <input type="email"
                                        class="form-control  w-full bg-transparent border-[1px] border-[#ebebeb] h-[50px] text-[#212529] transition-all pl-[25px] focus:outline-0 focus:shadow-none  focus:border-[#ff4a17] focus:bg-transparent"
                                        name="email" id="email" placeholder="Your Email*">
                                </div>
                                <div
                                    class="w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                                    <input type="text"
                                        class="form-control  w-full bg-transparent border-[1px] border-[#ebebeb] h-[50px] text-[#212529] transition-all pl-[25px] focus:outline-0 focus:shadow-none  focus:border-[#ff4a17] focus:bg-transparent"
                                        name="adress" id="adress" placeholder="Adress">
                                </div>
                                <div
                                    class="w-[calc(50%-30px)] float-left mx-[15px] mb-[25px] col:float-none col:w-[calc(100%-25px)]">
                                    <select name="service"
                                        class="form-control  w-full bg-transparent border-[1px] border-[#ebebeb] h-[50px]  text-[#212529] transition-all pl-[25px] focus:outline-0 focus:shadow-none  focus:border-[#ff4a17] focus:bg-transparent">
                                        <option disabled="disabled" selected="">Services</option>
                                        <option>Tax Management</option>
                                        <option>Financial Advices</option>
                                        <option>Risk Management</option>
                                    </select>
                                </div>
                                <div class="w-[calc-(100%-25px)] mb-[25px] mx-[15px]">
                                    <textarea
                                        class="form-control  w-full bg-transparent border-[1px] border-[#ebebeb] h-[180px]  text-[#212529] transition-all pt-[15px] pl-[25px] focus:outline-0 focus:shadow-none  focus:border-[#ff4a17] focus:bg-transparent"
                                        name="note" id="note" placeholder="Message..."></textarea>
                                </div>
                                <div class="text-center w-full mb-[10px]">
                                    <button type="submit" class="bg-[#ff4a17] text-[#fff] inline-block py-[12px] px-[22px] border
                                        hover:text-[#ff4a17]
                                        border-transparent ] capitalize transition-all hover:bg-transparent
                                        hover:border-[#ff4a17]">Get
                                        in Touch</button>
                                    <div id="loader">
                                        <i class="ti-reload"></i>
                                    </div>
                                </div>
                                <div class="clearfix error-handling-messages">
                                    <div id="success">Thank you</div>
                                    <div id="error"> Error occurred while sending email. Please try again later. </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-span-1"></div>
                </div>
            </div>
        </section>

        <!--  start contact-map -->
        <section class="wpo-contact-map-section">
            <h2 class="hidden">Contact map</h2>
            <div class="h-[550px]">
                <iframe class="w-full h-full border-0 outline-0 grayscale"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.9147703055!2d-74.11976314309273!3d40.69740344223377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbd!4v1547528325671"
                    allowfullscreen></iframe>
            </div>
        </section>
        <!-- start footer -->
        <%- include('../../Layouts/Frontend/Footer.ejs')%>
    </div>
    <!-- end of page-wrapper -->
    <%- include('../../Layouts/Frontend/Scripts.ejs')%>  
</body>

</html>