<!doctype html>
<html class="no-js" lang="zxx">
   <%- include('../../Layouts/Frontend/Header.ejs')%>
   <body>
    <div class="flex justify-center bg-gray-200 pt-[100px]">
        <div class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
            <div class="max-w-[440px] mx-auto text-center mb-3">
                <h2 class="text-[35px] col:text-[25px] text-[#0a272c] font-heading-font font-bold
                    mb-[20px]"> Reset your Account Password </h2>
            </div>
            <div class="p-[50px] bg-white relative z-10 
                shadow-[0px_1px_15px_0px_rgba(62,65,159,0.1)] sm:p-7 sm:pt-[50px]">
                <form class="contact-validation-active mx-[-15px]"
                    id="passwordUpdateForm">
                    <span class="w-full text-center text-[#ff4a17]" id="errorSpan"></span>
                    <div class="w-[calc-(100%-25px)] mb-[25px] mx-[15px]">
                        <input type="password" class="form-control w-full bg-transparent border-[1px] border-[#ebebeb] h-[50px]
                            text-[#212529] transition-all pl-[25px] focus:outline-0 focus:shadow-none
                             focus:border-[#ff4a17] focus:bg-transparent " name="Password" id="password"
                            placeholder="Enter your Password Here" autocomplete="off">
                    </div>
                    <div class="w-[calc-(100%-25px)] mb-[25px] mx-[15px]">
                        <input type="password" class="form-control w-full bg-transparent border-[1px] border-[#ebebeb] h-[50px]
                            text-[#212529] transition-all pl-[25px] focus:outline-0 focus:shadow-none
                             focus:border-[#ff4a17] focus:bg-transparent " name="ConfirmPassword" id="confirm-password"
                            placeholder="Confirm Password" autocomplete="off">
                    </div>
                    <button class="bg-[#ff4a17] text-[#fff] inline-block py-[12px] px-[22px] border
                    hover:text-[#ff4a17]
                    border-transparent ] capitalize transition-all hover:bg-transparent
                    hover:border-[#ff4a17]" type="submit">Update Password</button>
                    <div class="flex justify-center">
                        <span class="px-2">
                            <a href="/Register" class="text-blue-500 cursor:pointer">
                                Register
                            </a>
                        </span>
                        |
                        <span class="px-2">
                            <a href="/Login" class="text-blue-500 cursor:pointer">
                                Login
                            </a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
      </div>
    <!-- start page-wrapper -->
        <!-- start footer -->
    </div>
    <!-- end of page-wrapper -->
    <%- include('../../Layouts/Frontend/Scripts.ejs')%>  
    <script>
        const form = document.querySelector("form#passwordUpdateForm")
        const errorSpan = document.querySelector("span#errorSpan")
        form.addEventListener("submit", async (e) => {
            errorSpan.textContent=""
            e.preventDefault()
            const password = form.password.value
            const confirmPassword = form.ConfirmPassword.value
            if (password!== confirmPassword || password.length<6) {
                errorSpan.textContent="Please Correct the errors. Passwords Must match and they should be grater than 6 characters"
                return
            }else{
                //post the data 
                const res = await fetch('/Get-Passwords',{
                    method:'POST',
                    body:JSON.stringify({
                        Password:password,
                        ConfirmPassword:confirmPassword
                    }),
                    headers:{
                        'Content-Type':'application/json'
                    }
                })
                const databack = await res.json()
                if(databack.status ==='success'){
                    setTimeout(()=>{
                        location.href="/Login"
                    },3000)
                }
                errorSpan.textContent = databack.message
            }
        })
    </script>
</body>

</html>