<!doctype html>
<html class="no-js" lang="zxx">
   <%- include('../../Layouts/Frontend/Header.ejs')%>
   <body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">
        <!-- start header-section -->
        <%- include('../../Layouts/Frontend/Navbar.ejs')%>

        <!-- start page-title -->
        <section
            class="bg-[url(../images/page-title.jpg)] bg-center bg-cover bg-no-repeat w-full h-[480px] text-center relative z-[1] flex justify-center flex-col md:h-[400px] before:w-full before:h-full before:absolute before:left-0 before:top-0 before:bg-[#14212b] before:opacity-[0.5] before:-[-1]">
            <div class="overflow-hidden relative w-full h-full">
                <div class="wraper">
                    <div class="flex items-center justify-center h-[480px] md:h-[400px]">
                        <div class="col-span-12">
                            <h2
                                class="text-[60px] text-white mb-[40px] sm:mb-[25px] font-bold capitalize md:text-[50px] mt-[145px] md:mt-[140px] col:mt-[180px] sm:text-[40px]">
                                Project</h2>
                            <ol class="flex justify-center">
                                <li class="text-[16px] text-white mr-[5px] sm:text-[14px]">
                                    <a href="index.html"
                                        class="text-white transition-all duration-300 hover:text-[#e33200]">Home</a>
                                </li>
                                <li class="relative text-[16px] text-white sm:text-[14px] pl-[20px] ml-[6px]
                                    before:mr-[5px] before:w-[8px] before:h-[4px] before:bg-white before:absolute
                                    before:left-0 before:top-1/2 before:-translate-y-1/2 before:rounded-[2px]">
                                    Project</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="wow fadeInDown absolute right-[-70px] top-[-70px] w-[300px] h-[300px] bg-[#ff4a17] rounded-[50%] -z[-1]  col:hidden "
                    data-wow-duration="0.9s" data-wow-delay=".3s"></div>
                <div class="wow fadeInDown absolute left-0 top-0  sm:left-[-100px] sm:top-[-100px] col:hidden"
                    data-wow-duration="0.9s" data-wow-delay=".3s">
                    <img src="assets/images/page-title-shape-1.png" alt="">
                </div>
                <div class="wow fadeInUp absolute right-0 bottom-0  sm:right-[-100px] sm:bottom-[-30px] col:hidden"
                    data-wow-duration="0.9s" data-wow-delay=".3s">
                    <img src="assets/images/page-title-shape-2.png" alt="">
                </div>
            </div>
        </section>

        <!-- start project -->
        <section class="section-wrap bg-[#14212b] relative z-[1]">
            <div class="wraper">
                <div class="mb-[75px] sm:mb-[40px] text-left">
                    <span class="uppercase text-[16px] font-bold tracking-[3px] text-[#ff4a17] 
                     font-base-font">OUR PORTFOLIO</span>
                    <h2 class="text-[55px] md:text-[35px] sm:text-[32px] col:text-[28px] leading-[70px] md:leading-[55px] sm:leading-[40px] 
                     mt-[10px] relative capitalize font-heading-font font-bold
                     text-[#fff]">Successfull Work of Consoel</h2>
                </div>
            </div>
            <div class="project-slider-s3 owl-carousel px-[100px] xl:px-[50px] lg:px-0">
                <div class="relative overflow-hidden group">
                    <div class="overflow-hidden mb-[30px] bg-white p-[50px_35px] transition-all duration-500 ease-in-out
                        group-hover:bg-[#1e2f3c]">
                        <img src="assets/images/project/1.png" alt
                            class="scale-[1] transition-all duration-500 ease-in-out w-full group-hover:scale-[1.2]">
                    </div>
                    <div class="transition-all duration-500 ease-in-out  
                         opacity-0 invisible group-hover:opacity-100
                         group-hover:visible group-hover:bottom-[30px] text-center">
                        <h3
                            class="text-[30px] text-white font-heading-font mb-[20px] sm:mb-0 font-semibold md:text-[25px] sm:text-[20px]">
                            <a href="project-single.html" class="text-white">Investment planning</a> </h3>
                        <span class="uppercase text-white text-[14px] font-base-font col:text-[12px] mb-[10px]">Business
                            Consulting</span>
                    </div>
                </div>
                <div class="relative overflow-hidden group">
                    <div class="overflow-hidden mb-[30px] bg-white p-[50px_35px] transition-all duration-500 ease-in-out
                        group-hover:bg-[#1e2f3c]">
                        <img src="assets/images/project/2.png" alt
                            class="scale-[1] transition-all duration-500 ease-in-out w-full group-hover:scale-[1.2]">
                    </div>
                    <div class="transition-all duration-500 ease-in-out  
                         opacity-0 invisible group-hover:opacity-100
                         group-hover:visible group-hover:bottom-[30px] text-center">
                        <h3
                            class="text-[30px] text-white font-heading-font mb-[20px] sm:mb-0 font-semibold md:text-[25px] sm:text-[20px]">
                            <a href="project-single.html" class="text-white">Market Research</a></h3>
                        <span class="uppercase text-white text-[14px] font-base-font col:text-[12px] mb-[10px]">Business
                            Consulting</span>
                    </div>
                </div>
                <div class="relative overflow-hidden group">
                    <div class="overflow-hidden mb-[30px] bg-white p-[50px_35px] transition-all duration-500 ease-in-out
                        group-hover:bg-[#1e2f3c]">
                        <img src="assets/images/project/3.png" alt
                            class="scale-[1] transition-all duration-500 ease-in-out w-full group-hover:scale-[1.2]">
                    </div>
                    <div class="transition-all duration-500 ease-in-out  
                         opacity-0 invisible group-hover:opacity-100
                         group-hover:visible group-hover:bottom-[30px] text-center">
                        <h3
                            class="text-[30px] text-white font-heading-font mb-[20px] sm:mb-0 font-semibold md:text-[25px] sm:text-[20px]">
                            <a href="project-single.html" class="text-white">Business Analysis</a></h3>
                        <span class="uppercase text-white text-[14px] font-base-font col:text-[12px] mb-[10px]">Business
                            Consulting</span>
                    </div>
                </div>
                <div class="relative overflow-hidden group">
                    <div class="overflow-hidden mb-[30px] bg-white p-[50px_35px] transition-all duration-500 ease-in-out
                        group-hover:bg-[#1e2f3c]">
                        <img src="assets/images/project/4.png" alt
                            class="scale-[1] transition-all duration-500 ease-in-out w-full group-hover:scale-[1.2]">
                    </div>
                    <div class="transition-all duration-500 ease-in-out  
                         opacity-0 invisible group-hover:opacity-100
                         group-hover:visible group-hover:bottom-[30px] text-center">
                        <h3
                            class="text-[30px] text-white font-heading-font mb-[20px] sm:mb-0 font-semibold md:text-[25px] sm:text-[20px]">
                            <a href="project-single.html" class="text-white">Financial Advices</a></h3>
                        <span class="uppercase text-white text-[14px] font-base-font col:text-[12px] mb-[10px]">Business
                            Consulting</span>
                    </div>
                </div>
                <div class="relative overflow-hidden group">
                    <div class="overflow-hidden mb-[30px] bg-white p-[50px_35px] transition-all duration-500 ease-in-out
                        group-hover:bg-[#1e2f3c]">
                        <img src="assets/images/project/1.png" alt
                            class="scale-[1] transition-all duration-500 ease-in-out w-full group-hover:scale-[1.2]">
                    </div>
                    <div class="transition-all duration-500 ease-in-out  
                         opacity-0 invisible group-hover:opacity-100
                         group-hover:visible group-hover:bottom-[30px] text-center">
                        <h3
                            class="text-[30px] text-white font-heading-font mb-[20px] sm:mb-0 font-semibold md:text-[25px] sm:text-[20px]">
                            <a href="project-single.html" class="text-white">Investment planning</a> </h3>
                        <span class="uppercase text-white text-[14px] font-base-font col:text-[12px] mb-[10px]">Business
                            Consulting</span>
                    </div>
                </div>
                <div class="relative overflow-hidden group">
                    <div class="overflow-hidden mb-[30px] bg-white p-[50px_35px] transition-all duration-500 ease-in-out
                        group-hover:bg-[#1e2f3c]">
                        <img src="assets/images/project/2.png" alt
                            class="scale-[1] transition-all duration-500 ease-in-out w-full group-hover:scale-[1.2]">
                    </div>
                    <div class="transition-all duration-500 ease-in-out  
                         opacity-0 invisible group-hover:opacity-100
                         group-hover:visible group-hover:bottom-[30px] text-center">
                        <h3
                            class="text-[30px] text-white font-heading-font mb-[20px] sm:mb-0 font-semibold md:text-[25px] sm:text-[20px]">
                            <a href="project-single.html" class="text-white">Market Research</a></h3>
                        <span class="uppercase text-white text-[14px] font-base-font col:text-[12px] mb-[10px]">Business
                            Consulting</span>
                    </div>
                </div>
                <div class="relative overflow-hidden group">
                    <div class="overflow-hidden mb-[30px] bg-white p-[50px_35px] transition-all duration-500 ease-in-out
                        group-hover:bg-[#1e2f3c]">
                        <img src="assets/images/project/3.png" alt
                            class="scale-[1] transition-all duration-500 ease-in-out w-full group-hover:scale-[1.2]">
                    </div>
                    <div class="transition-all duration-500 ease-in-out  
                         opacity-0 invisible group-hover:opacity-100
                         group-hover:visible group-hover:bottom-[30px] text-center">
                        <h3
                            class="text-[30px] text-white font-heading-font mb-[20px] sm:mb-0 font-semibold md:text-[25px] sm:text-[20px]">
                            <a href="project-single.html" class="text-white">Business Analysis</a></h3>
                        <span class="uppercase text-white text-[14px] font-base-font col:text-[12px] mb-[10px]">Business
                            Consulting</span>
                    </div>
                </div>
                <div class="relative overflow-hidden group">
                    <div class="overflow-hidden mb-[30px] bg-white p-[50px_35px] transition-all duration-500 ease-in-out
                        group-hover:bg-[#1e2f3c]">
                        <img src="assets/images/project/4.png" alt
                            class="scale-[1] transition-all duration-500 ease-in-out w-full group-hover:scale-[1.2]">
                    </div>
                    <div class="transition-all duration-500 ease-in-out  
                         opacity-0 invisible group-hover:opacity-100
                         group-hover:visible group-hover:bottom-[30px] text-center">
                        <h3
                            class="text-[30px] text-white font-heading-font mb-[20px] sm:mb-0 font-semibold md:text-[25px] sm:text-[20px]">
                            <a href="project-single.html" class="text-white">Financial Advices</a></h3>
                        <span class="uppercase text-white text-[14px] font-base-font col:text-[12px] mb-[10px]">Business
                            Consulting</span>
                    </div>
                </div>
            </div>
            <div class="absolute left-0 bottom-0 z-[-1] xl:left-[-20%] xl:bottom-[-10%] md:hidden">
                <img src="assets/images/project/shape-2.png" alt="" class="w-full">
            </div>
            <div class="absolute right-0 top-0 z-[-1] xl:right-[-20%] xl:top-[-10%] md:hidden">
                <img src="assets/images/project/shape-3.png" alt="" class="w-full">
            </div>
        </section>
        <!-- start footer -->
        <%- include('../../Layouts/Frontend/Footer.ejs')%>
    </div>
    <!-- end of page-wrapper -->
    <%- include('../../Layouts/Frontend/Scripts.ejs')%>  
</body>

</html>