<section class="bg-[#14212b] relative z-[1]">
    <div class="py-[80px] md:pb-[60px] relative overflow-hidden">
        <div class="wraper">
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-3 lg:col-span-3 md:col-span-6 sm:col-span-6 col:col-span-12 md:mb-[30px]">
                    <div class="max-w-[180px] mb-[30px]">
                        <img src="assets/images/logo.png" alt="blog">
                    </div>
                    <p class="mb-[10px] text-[#cbcbcb] text-[16px] leading-[30px]">Many desktop publishing
                        packages
                        web page editors now is use model search for many
                        web sites.</p>
                    <ul class="pt-[10px]">
                        <li class="float-left text-[22px] text-white">
                            <a class="text-white w-[36px] h-[36px] leading-[40px]
                             bg-[rgba(255,255,255,0.1)] block text-center rounded-[50%]
                              text-[18px] transition-all
                              hover:bg-[#ff4a17]" href="#">
                                <i class="ti-facebook"></i>
                            </a>
                        </li>
                        <li class="float-left text-[22px] text-white ml-[30px] lg:ml-[20px]">
                            <a class="text-white w-[36px] h-[36px] leading-[40px]
                             bg-[rgba(255,255,255,0.1)] block text-center rounded-[50%]
                              text-[18px] transition-all
                              hover:bg-[#ff4a17]" href="#">
                                <i class="ti-twitter-alt"></i>
                            </a>
                        </li>
                        <li class="float-left text-[22px] text-white ml-[30px] lg:ml-[20px]">
                            <a class="text-white w-[36px] h-[36px] leading-[40px]
                             bg-[rgba(255,255,255,0.1)] block text-center rounded-[50%]
                              text-[18px] transition-all
                              hover:bg-[#ff4a17]" href="#">
                                <i class="ti-instagram"></i>
                            </a>
                        </li>
                        <li class="float-left text-[22px] text-white ml-[30px] lg:ml-[20px]">
                            <a class="text-white w-[36px] h-[36px] leading-[40px]
                             bg-[rgba(255,255,255,0.1)] block text-center rounded-[50%]
                              text-[18px] transition-all
                              hover:bg-[#ff4a17]" href="#">
                                <i class="ti-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-span-3 lg:col-span-3 md:col-span-6 sm:col-span-6 col:col-span-12 md:mb-[30px]">
                    <div class="pl-[50px] lg:pl-0 md:pl-0">
                        <div class="mb-[30px]">
                            <h3 class="text-[25px] text-white capitalize relative font-heading-font font-bold
                             ">Company</h3>
                        </div>
                        <ul>
                            <li class="relative z-[1] py-[6px] pl-[15px] before:absolute before:left-0
                                before:top-[50%] before:-translate-y-1/2 before:-z-[1] before:w-[5px]
                                before:h-[2px] before:bg-[#cbcbcb] before:transition-all before:duration-300
                                hover:before:bg-[#ff4a17] group">
                                <a href="about.html" class="text-[16px] transition-all text-[#cbcbcb] 
                                   duration-300 group-hover:text-[#ff4a17]">
                                    About company
                                </a>
                            </li>
                            <li class="relative z-[1] py-[6px] pl-[15px] before:absolute before:left-0
                                before:top-[50%] before:-translate-y-1/2 before:-z-[1] before:w-[5px]
                                before:h-[2px] before:bg-[#cbcbcb] before:transition-all before:duration-300
                                hover:before:bg-[#ff4a17] group">
                                <a href="about.html" class="text-[16px] transition-all text-[#cbcbcb] 
                                   duration-300 group-hover:text-[#ff4a17]">
                                    Our services
                                </a>
                            </li>
                            <li class="relative z-[1] py-[6px] pl-[15px] before:absolute before:left-0
                                before:top-[50%] before:-translate-y-1/2 before:-z-[1] before:w-[5px]
                                before:h-[2px] before:bg-[#cbcbcb] before:transition-all before:duration-300
                                hover:before:bg-[#ff4a17] group">
                                <a href="about.html" class="text-[16px] transition-all text-[#cbcbcb] 
                                   duration-300 group-hover:text-[#ff4a17]">
                                    Job opportunities
                                </a>
                            </li>
                            <li class="relative z-[1] py-[6px] pl-[15px] before:absolute before:left-0
                                before:top-[50%] before:-translate-y-1/2 before:-z-[1] before:w-[5px]
                                before:h-[2px] before:bg-[#cbcbcb] before:transition-all before:duration-300
                                hover:before:bg-[#ff4a17] group">
                                <a href="about.html" class="text-[16px] transition-all text-[#cbcbcb] 
                                   duration-300 group-hover:text-[#ff4a17]">
                                    Contact us
                                </a>
                            </li>
                            <li class="relative z-[1] py-[6px] pl-[15px] before:absolute before:left-0
                                before:top-[50%] before:-translate-y-1/2 before:-z-[1] before:w-[5px]
                                before:h-[2px] before:bg-[#cbcbcb] before:transition-all before:duration-300
                                hover:before:bg-[#ff4a17] group">
                                <a href="about.html" class="text-[16px] transition-all text-[#cbcbcb] 
                                   duration-300 group-hover:text-[#ff4a17]">
                                    Vision & Values
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-span-3 lg:col-span-3 md:col-span-6 sm:col-span-6 col:col-span-12 md:mb-[30px]">
                    <div class="px-[20px] lg:px-0 ">
                        <div class="mb-[30px]">
                            <h3 class="text-[25px] text-white capitalize relative font-heading-font font-bold
                             ">Recent Post</h3>
                        </div>
                        <ul>
                            <li class="mb-[15px] ">
                                <h4 class="mb-[5px]">
                                    <a href="blog-single.html" class="text-[18px] leading-[30px] font-heading-font font-bold text-white transition-all duration-300
                                        hover:text-[#ff4a17]">
                                        What are the pros and cons of becoming a
                                        consultant?
                                    </a>
                                </h4>
                                <span class="flex items-center text-[14px] text-[#cbcbcb]">
                                    <i class="fi flaticon-calendar mr-[5px] text-[#ff4a17] -mt-[2px]"></i>
                                    10.02.2023
                                </span>
                            </li>
                            <li class="mb-[15px] ">
                                <h4 class="mb-[5px]">
                                    <a href="blog-single.html" class="text-[18px] leading-[30px] font-heading-font font-bold text-white transition-all duration-300
                                        hover:text-[#ff4a17]">
                                        We are able to give truly independent advice
                                    </a>
                                </h4>
                                <span class="flex items-center text-[14px] text-[#cbcbcb]">
                                    <i class="fi flaticon-calendar mr-[5px] text-[#ff4a17] -mt-[2px]"></i>
                                    10.02.2023
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-span-3 lg:col-span-3 md:col-span-6 sm:col-span-6 col:col-span-12 md:mb-[30px]">
                    <div class="mb-[30px]">
                        <h3 class="text-[25px] text-white capitalize relative font-heading-font font-bold
                             ">Newsletter</h3>
                    </div>
                    <p class="mb-[10px] text-white text-[16px] leading-[30px]">Many desktop publi’s shing
                        packages web page editors now is use sites.</p>
                    <form class="mt-[25px] relative">
                        <input type="email" class="bg-[#28343e] h-[55px] text-white p-[6px_15px] 
                        border-[1px] border-[#28343e] w-full focus:outline-0 rounded-[5px] "
                            placeholder="Email Address *" required="">
                        <div class="absolute right-[5px] top-[-17px] translate-y-1/2">
                            <button type="submit" class="bg-[#ff4a17] border-0 outline-0
                             text-white w-[40px] h-[45px] leading-[45px] rounded-[5px] ">
                                <i class="fi flaticon-send"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="absolute right-0 bottom-[-10%] z-[-1] sm:bottom-[-30px]">
            <img src="assets/images/ft-shape.png" alt="shape">
        </div>
        <div class="absolute left-[-30px] top-[-50px] z-[-1]">
            <svg width="254.000000pt" height="257.000000pt" viewBox="0 0 254.000000 257.000000"
                preserveAspectRatio="xMidYMid meet" fill="#ff4a17">
                <g transform="translate(0.000000,257.000000) scale(0.100000,-0.100000)" stroke="none">
                    <path
                        d="M0 1341 c0 -1111 2 -1229 16 -1235 8 -3 56 -11 104 -16 206 -23 368 38 504 191 26 30 135 185 241 344 217 326 264 388 403 529 159 162 348 309 592 461 179 112 349 228 405 277 72 63 132 151 156 226 16 54 20 93 20 202 1 80 -5 157 -13 190 l-13 55 -1208 3 -1207 2 0 -1229z" />
                </g>
            </svg>
        </div>
        <div class="absolute right-[-60px] bottom-[-70px] z-[-1]">
            <svg width="230.000000pt" height="197.000000pt" viewBox="0 0 230.000000 197.000000"
                preserveAspectRatio="xMidYMid meet" fill="#ff4a17">
                <g transform="translate(0.000000,197.000000) scale(0.100000,-0.100000)" stroke="none">
                    <path
                        d="M1885 1463 c-189 -11 -392 -50 -565 -109 -202 -68 -460 -209 -630 -345 -222 -176 -436 -441 -560 -694 -45 -91 -120 -283 -120 -305 0 -6 428 -10 1145 -10 l1145 0 0 719 c0 677 -1 720 -17 725 -25 8 -268 26 -312 24 -20 -1 -58 -3 -86 -5z" />
                </g>
            </svg>
        </div>
    </div>
    <div class="text-center relative bg-[#18252f] py-[20px]">
        <div class="wraper">
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-6 md:col-span-12">
                    <p class="text-[15px] text-white text-left md:text-center">
                        Copyright &copy; 2023 // All Right Reserved by
                        <a href="index.html" class="text-[#ff4a17]">Consoel.</a>
                    </p>
                </div>
                <div class="col-span-6 md:col-span-12">
                    <ul class="flex justify-end md:justify-center flex-wrap">
                        <li class="pl-[20px] ml-[10px] relative col:pl-[5px] col:ml-[5px]">
                            <a href="about.html" class="text-white hover:text-[#ff4a17]">Vision & Values</a>
                        </li>
                        <li
                            class="pl-[20px] ml-[10px] relative col:pl-[5px] col:ml-[5px] after:absolute after:left-0 after:top-0 after:content-['//'] col:after:hidden">
                            <a href="blog.html" class="text-white hover:text-[#ff4a17]">History</a>
                        </li>
                        <li
                            class="pl-[20px] ml-[10px] relative col:pl-[5px] col:ml-[5px] after:absolute after:left-0 after:top-0 after:content-['//'] col:after:hidden">
                            <a href="service.html" class="text-white hover:text-[#ff4a17]">Awards</a>
                        </li>
                        <li
                            class="pl-[20px] ml-[10px] relative col:pl-[5px] col:ml-[5px] after:absolute after:left-0 after:top-0 after:content-['//'] col:after:hidden">
                            <a href="project-single.html" class="text-white hover:text-[#ff4a17]">Leadership</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>