 <!-- start preloader -->
 <div class="preloader">
    <div class="vertical-centered-box">
        <div class="content">
            <div class="loader-circle"></div>
            <div class="loader-line-mask">
                <div class="loader-line"></div>
            </div>
            <img src="assets/images/preloader.png" alt="">
        </div>
    </div>
</div>
<header>
    <div class="px-[130px] xl:px-[30px] lg:px-[10px] col:px-0
         z-[11] bg-[#ff4a17] ">
        <div class="grid grid-cols-12">
            <div class="col-span-6 md:col-span-12 md:mx-auto">
                <ul>
                    <li class="text-[16px] xl:text-[14px] lg:text-[12px] float-left col:float-none
                    col:text-center p-[10px] col:p-[4px] text-white">
                        <i class="fa fa-phone text-white inline-block pr-[5px]"></i>
                        (00) 0431 275 490
                    </li>
                    <li class="text-[16px] xl:text-[14px] lg:text-[12px] float-left col:float-none
                    col:text-center p-[10px] col:p-[4px] text-white">
                        <i class="fa fa-envelope text-white inline-block pr-[5px]"></i>
                        support24@gmail.com
                    </li>
                    <li class="text-[16px] xl:text-[14px] lg:text-[12px] float-left col:float-none
                    col:text-center p-[10px] col:p-[4px] text-white">
                        <i class="fa fa-map-marker text-white inline-block pr-[5px]"></i>
                        Roberts Avenue, Chattanooga.
                    </li>
                </ul>
            </div>
            <div class="col-span-6 md:col-span-12">
                <div class="flex items-center justify-end md:justify-center md:flex-wrap">
                    <ul>
                        <li
                            class="relative text-[16px] xl:text-[14px] lg:text-[12px] float-left p-[10px_10px] pl-0 text-white">
                            <a href="about.html"
                                class="transition-all duration-300 hover:text-white">Careers</a>
                        </li>
                        <li
                            class="relative text-[16px] xl:text-[14px] lg:text-[12px] float-left p-[10px_10px] text-white">
                            <a href="blog.html" class="transition-all duration-300 hover:text-white">News &
                                Media</a>
                        </li>
                        <% if(user){%>
                            <li
                                class="relative text-[16px] xl:text-[14px] lg:text-[12px] float-left p-[10px_10px] text-white">
                                <a href="/Dashboard" class="transition-all duration-300 hover:text-white">My Account</a>
                            </li>
                            <li
                                class="relative text-[16px] xl:text-[14px] lg:text-[12px] float-left p-[10px_10px] text-white">
                                <a href="/Logout" class="transition-all duration-300 hover:text-white">Logout</a>
                            </li>
                        <% }else{%>
                            <li
                            class="relative text-[16px] xl:text-[14px] lg:text-[12px] float-left p-[10px_10px] text-white">
                            <a href="/Login" class="transition-all duration-300 hover:text-white">Login</a>
                        </li>
                        <%}%>
                    </ul>
                    <ul class="ml-[20px] col:ml-0">
                        <li class="text-[16px] float-left p-[10px] pl-0 text-white">
                            <a href="#"
                                class="block w-[40px]
                                 h-[40px] leading-[40px] border-[1px] border-white hover:border-transparent 
                                 rounded-[50%] text-center transition-all duration-300 hover:text-[#ff4a17] hover:bg-white">
                                 <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="text-[16px] xl:text-[14px] lg:text-[12px] float-left p-[10px] text-white">
                            <a href="#"
                                class="block w-[40px]
                                 h-[40px] leading-[40px] border-[1px] border-white hover:border-transparent 
                                 rounded-[50%] text-center transition-all duration-300 hover:text-[#ff4a17] hover:bg-white">
                                 <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="text-[16px] xl:text-[14px] lg:text-[12px] float-left p-[10px] text-white">
                            <a href="#"
                                class="block w-[40px]
                                 h-[40px] leading-[40px] border-[1px] border-white hover:border-transparent 
                                 rounded-[50%] text-center transition-all duration-300 hover:text-[#ff4a17] hover:bg-white">
                                <i class="ti-instagram"></i>
                            </a>
                        </li>
                        <li class="text-[16px] xl:text-[14px] lg:text-[12px] float-left p-[10px] text-white">
                            <a href="#"
                                class="block w-[40px]
                                 h-[40px] leading-[40px] border-[1px] border-white hover:border-transparent 
                                 rounded-[50%] text-center transition-all duration-300 hover:text-[#ff4a17] hover:bg-white">
                                <i class="ti-google"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="px-[10px] lg:px-[30px] col:px-0 md:py-[20px] 
        absolute left-0 w-full z-[11] bg-transparent border-b-[1px] border-b-[rgba(255,255,255,0.1)]">
        <div class="flex items-center justify-between">
            <div id="dl-menu" class="dl-menuwrapper hidden md:block">
                <button class="dl-trigger">Open Menu</button>
                <ul class="dl-menu">
                    
                    <li><a href="/About">About US</a></li>
                    <li><a href="/Services">Services</a>
                    </li>
                    <li><a href="/Projects">Projects</a>
                    </li>
                    <li>
                        <a href="/Blog">Blog</a>
                    </li>
                    <li><a href="/Contact">Contact</a></li>
                </ul>
            </div><!-- /dl-menuwrapper -->

            <div class="w-[195px] md:w-[280px] sm:w-[200px] col:w-[150px] col:ml-[50px]">
                <a class="flex items-center md:justify-center text-white" href="/">
                    <img class="" src="assets/images/logo.png" alt=""></a>
            </div>

            <ul class="md:hidden">
                <li class="relative inline-block">
                    <a href="/About" class="relative text-[16px] lg:text-[17px] py-[35px]
                     xl:py-[30px] px-[20px] xl:px-[6px]
                        text-white block capitalize
                        font-base-font font-bold transition-all
                       hover:text-white
                       before:absolute before:left-0 before:top-0 before:w-full before:h-full
                       before:bg-[rgba(255,255,255,0.1)] before:content
                       before:opacity-0 before:invisible before:transition-all before:rounded-0
                       hover:before:opacity-100 hover:before:visible
                    ">About Us</a>
                </li>
                <li class="relative inline-block group">
                    <a href="/Services" class="relative text-[16px] lg:text-[17px] py-[35px]
                     xl:py-[30px] px-[20px] xl:px-[6px]
                        text-white block capitalize
                        font-base-font font-bold transition-all
                       hover:text-white
                       before:absolute before:left-0 before:top-0 before:w-full before:h-full
                       before:bg-[rgba(255,255,255,0.1)] before:content
                       before:opacity-0 before:invisible before:transition-all before:rounded-0
                       hover:before:opacity-100 hover:before:visible">Services</a>
                </li>
                <li class="relative inline-block group">
                    <a href="/Projects" class="relative text-[16px] lg:text-[17px] py-[35px]
                     xl:py-[30px] px-[20px] xl:px-[6px]
                        text-white block capitalize
                        font-base-font font-bold transition-all
                       hover:text-white
                       before:absolute before:left-0 before:top-0 before:w-full before:h-full
                       before:bg-[rgba(255,255,255,0.1)] before:content
                       before:opacity-0 before:invisible before:transition-all before:rounded-0
                       hover:before:opacity-100 hover:before:visible">Projects</a>
                </li>
                <li class="relative inline-block group">
                    <a href="/Blog" class="relative text-[16px] lg:text-[17px] py-[35px]
                     xl:py-[30px] px-[20px] xl:px-[6px]
                        text-white block capitalize
                        font-base-font font-bold transition-all
                       hover:text-white
                       before:absolute before:left-0 before:top-0 before:w-full before:h-full
                       before:bg-[rgba(255,255,255,0.1)] before:content
                       before:opacity-0 before:invisible before:transition-all before:rounded-0
                       hover:before:opacity-100 hover:before:visible">Blog</a>
                </li>
                <li class="relative inline-block group">
                    <a href="/Contact" class="relative text-[16px] lg:text-[17px] py-[35px]
                     xl:py-[30px] px-[20px] xl:px-[6px]
                        text-white block capitalize
                        font-base-font font-bold transition-all
                       hover:text-white
                       before:absolute before:left-0 before:top-0 before:w-full before:h-full
                       before:bg-[rgba(255,255,255,0.1)] before:content
                       before:opacity-0 before:invisible before:transition-all before:rounded-0
                       hover:before:opacity-100 hover:before:visible">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</header>